/*.no-scroll{
    height: 100%;
    overflow-y: hidden;
}

To desable scrolling
in <body>
*/
#site{
    /*display: none;*/
}

#page-chargement{
    display: none;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.niveauz4{
    z-index: 4;
}

.niveauz3{
    z-index: 3;
}

.niveauz2{
    z-index: 2;
}

.niveauz1{
    z-index: 1;
}

.niveauz0{
    z-index: 0;
}

.niveauz-1{
    z-index: -1;
}

.niveauz-2{
    z-index: -2;
}

.niveauz-3{
    z-index: -3;
}

.niveauz-4{
    z-index: -4;
}

.absolute-top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.absolute-top-100vh{
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
}

.background-navbar-accueil{
    background-color: rgb(241, 241, 241);
    opacity: 10%;
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.navbar-accueil{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 0px;
}

.navbar-accueil a{
    color: white;
    margin: 25px;
    font-family: 'Optima';
    font-size: 26px;
    cursor: pointer;
    position: relative;
    
}

.navbar-accueil a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 100px;
    right:100px;
    bottom: 0;
    z-index: -1;
    border-bottom: solid 2px white;
    
    transition-property: left, right;
    transition-duration: 0.5s;
}

.navbar-accueil a:hover:after{
    left: 0px;
    right: 0px;
}

.page-accueil{
    width: 100%;
    height: 100vh;
    background-image: url(images/accueil-page/accueil.JPG);
    background-size: 110%;
    box-shadow: 0px 3px 5px black;
    background-position: center;
}

.accueil-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85%;
}

.page-accueil .titre{
    margin: 0;
    margin-left: 2vw;
    padding: auto;
    overflow: no-content;
    width: max-content;
    
    font-size: 20vh;
    font-family: "Gill sans", 'verdana';
    font-weight: bold;
    color: white;
}

.page-accueil .text-secondaire{
    font-size: 5vh;
    font-family: "Gill sans", 'verdana';
    font-weight: bold;
    color: white;
    margin-left: 4vw;
    margin-top: 0;
}

.fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.pagecategorie{
    background-color: rgb(231, 231, 231);
    width: 100%;
    height: 100vh;
    box-shadow: 0px 3px 5px black;
}

.categorie{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5vh;
    width: max-content;
}

.credit{
    padding-top: 7vh;
    margin: auto;
    text-align: center;
}

.case{
    height: 80vh;
    width: 25vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 3px white;
    box-shadow: 1px 1px 3px grey;
}
.case p{
    color: white;
    font-family: "Gill sans";
    
    opacity: 0%;
    background-color: #666666;
    height: 0%;
    width: 100%;
    margin-left: auto;  
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition-property: opacity, height;
    transition-duration: 0.8s;
}

.case .titre2{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-bottom: 100px;
}

.case .definition{
    font-size: 20px;
    float: bottom;
    padding: 20px;
}

.case:hover p{
    opacity: 70%;
    height: 100%;
}

.case-sculpture{
    background-image: url(images/categorie-page/sculpture.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.case-gravure{
    background-image: url(images/categorie-page/gravure.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.case-dessin{
    background-image: url(images/categorie-page/dessin.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.retour-btn{
  
    position: absolute;
    top: 25px;
    left: 25px;
    
    border-radius: 50%;
    box-shadow: 0px 3px 5px black;
    
    height: 80px;
    margin: 0;
    
    transition-property: height, margin;
    transition-duration: 0.2s;
}

.retour-btn:hover{
    height: 74px;
    margin: 3px;
}

.footer{
    margin: auto;
    left: 0;
    right: 0;
    
    height: 400px;
    width: 100%;
    
    background-color: black;
    color: white;
}

.header-page{
    overflow: hidden;
    
    margin-bottom: 50px;
    
    width: 100%;
    height: 300px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-page img{
    width: 100%;
}

.body-page{
    box-shadow: 0px -4px 6px black;
    
    width: 100%;
    height: 800px;
}

.fenetre{
    width: 100%;
    height: 150px;
}

.page{
    position: absolute;
    top: 0;
    right: 0;
    height: max-content;
    width: 82vw;
    box-shadow: -1px -1px 5px grey;
    background-color: rgb(241, 241, 241);
}

.navbar-btn-display{
    position: fixed;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    padding-top: 2px;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    
    height: 100%;
    width: 18vw;
    
    background-color: rgb(37, 37, 37);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espace{
    height: 150px;
    width: 100%;
    background-color: rgb(40, 40, 40);
}

.petit-espace{
    height: 50px;
    width: 100%;
}

.navbar-btn{
    width: 12vw;
    height: max-content;
    
    display: flex;
    justify-content: center;
    
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    
    color: rgb(241, 241, 241);
    font-size: 3.3vh;
    font-family: 'Gill sans';
    border-radius: 5px;

    transition-property: background-color;
    transition-duration: 0.5s;
}

.navbar-btn:hover{
background-color:  #666666;
}

.scrolling-panel{
    width: 80%;
    height: 60vh;
    
    background-color: red;
    
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    border-radius: 2px;
    
    overflow: hidden;
    
    position: relative;
}

.slider{
    background-color: yellow;
    position: absolute;
    height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    animation: slide 15s infinite;
}

@keyframes slide{
    0% {top: 0;}
    10% {top: 0;}
    30% {top: -60vh;}
    40% {top: -60vh;}
    60% {top: -120vh;}
    70% {top: -120vh;}
    100% {top: 0;}
}

.scrolling-panel img{
    height: 100%;
}

.galerie{
    width: 80%;
    height: max-content;
    
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.bande{
    width: 100%;
    height: max-content;
    
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
    padding-top: 25px;
    padding-bottom: 25px;
    
    border-radius: 2px;
    background-color: white;
    
    box-shadow: 2px 2px 2px grey;
}

.bande .img-main{
    width: 80%;
    height: 60vh;
    
    overflow: auto;
    
    margin: auto;

    box-shadow: 2px 2px 2px #444444;
}

.img-main img{
    width: 100%;
}

.bande-img-secondaire{
    width: 80%;
    height: 180px;
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    
    border: solid 2px rgb(241, 241, 241);
    
    overflow: auto;
    display: flex;
}

.bande-img-secondaire img{
   border: solid 1px white; 
   opacity: 100%;
   
   transition-property: opacity;
   transition-duration: 0.3s;
}

.bande-img-secondaire img:hover{
    opacity: 70%;
}

.info-oeuvre{
    background-color: rgb(241, 241, 241);
    box-shadow: 1px 1px 2px #444444;
    width: 80%;
    height: 40vh;
    margin: auto;
}

.info-oeuvre object{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1080px){
        
.page-accueil{
    background-size: 160vh;
    backgr
}
    
.page-accueil .titre{
    font-size: 15vw;
}

.page-accueil .text-secondaire{
    font-size: 4.5vw;
}

}