/*.no-scroll{
    height: 100%;
    overflow-y: hidden;
}

To desable scrolling
in <body>
*/

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.niveauz4{
    z-index: 4;
}

.niveauz3{
    z-index: 3;
}

.niveauz2{
    z-index: 2;
}

.niveauz1{
    z-index: 1;
}

.niveauz0{
    z-index: 0;
}

.niveauz-1{
    z-index: -1;
}

.niveauz-2{
    z-index: -2;
}

.niveauz-3{
    z-index: -3;
}

.niveauz-4{
    z-index: -4;
}

.absolute-top{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.absolute-top-100vh{
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
}

.page-accueil{
    width: 100%;
    height: 100vh;
    background-image: url(images/accueil-page/accueil.JPG);
    background-size: 110%;
    box-shadow: 0px 3px 5px black;
    background-position: center;
}

.page-accueil .titre{
    margin: auto;
    margin-left: 2vw;
    margin-top: 1vh;
    font-size: 20vh;
    font-family: "franklin", 'verdana';
    font-weight: bold;
    color: white;
}

.page-accueil .text-secondaire{
    font-size: 5vh;
    font-family: "franklin", 'verdana';
    font-weight: bold;
    color: white;
    margin-left: 4vw;
    margin-top: 0;
}

.page-accueil .fleche{
    position: absolute;
    bottom: 10vh;
    right: 20vw;
    border-radius: 50%;
    box-shadow: 0px 3px 5px black;
    height: 185px;

    
    transition-property: height, margin;
    transition-duration: 0.2s;
}

.page-accueil .fleche:hover{
    height: 175px;
    margin: 5px;
}

.fixed-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.pagecategorie{
    background-color: rgb(186, 195, 204);
    width: 100%;
    height: 100vh;
    box-shadow: 0px 3px 5px black;
}

.categorie{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5vh;
    width: 85vw;
}

.credit{
    padding-top: 7vh;
    margin: auto;
    text-align: center;
}

.case{
    height: 80vh;
    width: 25vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    margin-top: 15px;
    margin-bottom: 15px;
}
.case p{
    color: white;
    font-family: "verdana";
    
    opacity: 0%;
    background-color: #666666;
    height: 0%;
    width: 100%;
    margin-left: auto;  
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0;
    
    transition-property: opacity, height;
    transition-duration: 0.8s;
}

.case .titre2{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.case .definition{
    font-size: 20px;
    float: bottom;
    padding: 20px;
}

.case:hover p{
    opacity: 70%;
    height: 100%;
}

.case-sculpture{
    background-image: url(images/categorie-page/sculpture.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.case-gravure{
    background-image: url(images/categorie-page/gravure.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.case-dessin{
    background-image: url(images/categorie-page/dessin.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.retour-btn{
  
    position: absolute;
    top: 25px;
    left: 25px;
    
    border-radius: 50%;
    box-shadow: 0px 3px 5px black;
    
    height: 80px;
    margin: 0;
    
    transition-property: height, margin;
    transition-duration: 0.2s;
}

.retour-btn:hover{
    height: 74px;
    margin: 3px;
}

.page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 200vh;/*temporaire*/
}

#pagesculpture{
    background-color: rgb(132, 121, 119);
    
}

#pagegravure{
    background-color: rgb(202, 202, 202);
}

#pagedessin{
    background-color: rgb(145, 144, 150);
}

.footer{
    margin: auto;
    left: 0;
    right: 0;
    
    height: 400px;
    width: 100%;
    
    background-color: black;
    color: white;
}

.container{
    margin: auto;
    width: 90%;
    height: 100%;
}

.test{
    background-color: rgb(214, 214, 214);
}